.main {
  position: fixed;
  top: 100px;
  bottom: 0;
  right: 220px;
  left: 100px;
  padding: 40px;
  overflow: auto;
}

.main__list {
  display: flex;
  justify-content: left;
  gap: 40px;
  flex-wrap: wrap;
}
